@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary-color: #edb731;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 18px;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: 100%;
}


ul {
  list-style: none;
}

.container {
  padding: 0 165px;
}


/* ----------------- */

/* header */
.header {
  display: flex;
  align-items: center;
  min-height: 75px;
  width: calc(100% - 20px);
  margin: 0;
  margin-bottom: 50px;
}

.logo {
  height: 100%;
  font-size: 40px;
  font-weight: 700;
  margin-right: 40px;
}

.menu {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  display: flex;
  align-items: center;
  gap: 0 30px;
  font-size: 20px;
}

.menu-item a,
.menu-item div{
  transition: 0.1s;
  cursor: pointer;
}

.menu-item a:hover,
.menu-item div span:hover {
  color: var(--primary-color);
}

.menu-login {
  cursor: pointer;
  position: relative;
}

.log-out {
  padding: 3px 10px;
  /* padding-bottom: 3px; */
  box-shadow: 0 24px 54px rgb(0 0 0 / 15%), 0 4.5px 13.5px rgb(0 0 0 / 45%);
  margin-top: 5px;
  display: none;
  text-align: center;
  transition: .3s;
  position: absolute;
}


.search-wrapper {
  width: 100%;
  padding: 7px 0 7px 20px;
  border-radius: 5px;
  border: 1px solid #939393;
  display: flex;
  line-height: 35px;
  display: none;
}

.search-input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  outline: none;
  border: none;
}

.search-wrapper i {
  color: #939393;
  padding: 0 20px;
}

.menu-cart {
  position: relative;
  font-size: 24px;
  cursor: pointer;
}

.menu-cart span {
  position: absolute;
  top: -10px;
  right: -17px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 2px 10px;
  border-radius: 50%;

}

/* ------------------- */

/* product */
/* product */
#product-wrapper {
  display:flex;
  align-items: flex-start;
  gap: 0 10em;
}

.product-image {
  height: 700px;
  object-fit: cover;
}

.product-name {
  font-size: 2.2em;
  font-weight: 600;
  margin-bottom: 10px;
  color: #213e4f;
  text-transform: uppercase;
}

.content-wrapper {
  padding: 65px 0 auto 60px;
  width: calc(100% - 600px - 200px);
}

.product-price {
  font-weight: 500;
  color: #798084;
  font-size: 23px;
  padding-bottom: 15px;
  border-bottom: 2px solid #dadada;
}

.product-option {
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 2px solid #dadada;
}

.option-list {
  margin-bottom: 15px;
}

.option-title {
  color: #65747e;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}

.size-list .option-title span {
  font-weight: 400;
  font-size: 15px;
  color: #d53333;
  margin-left: 30px;
}

.option-item {
  display: inline-block;
  margin-bottom: 10px;
}

.option-item__label {
  margin-right: 10px;
  padding: 5px 10px;
  border: 1px solid #dadada;
  border-radius: 20px;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
}

.option-item__input {
  display: none;
}

.option-item__input:checked+.option-item__label {
  width: 100%;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.add-cart-wrapper {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 30px;
}

.product-amount {
  display:flex;
  align-items: center;
  height: 45px;
  max-width: 120px;
  padding: 0 10px;
  border: 1px solid #dddddd;
  border-radius: 2.73438vw;
  background: #f0f5f8;
  color: #213e4f;
}

.amount-input {
  padding: 5px 10px;
  max-width: 70px;
  text-align: center;
  font-size: 18px;
  border: none;
  background: transparent;
  outline: none;
}

.amount-button {
  font-size: 16px;
  background: transparent;
  border: none;
  height: 100%;
  cursor: pointer;
}

.button-minus {
  color: #b1bec5;
}

.add-button {
  padding: 17px 100px;
  color: white;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 60px;
  transition: .2s;
  cursor: pointer;
}

.add-button:hover {
  opacity: .8;
}

/* sigin in sign up */
/* LOGIN SCREEN  */
#login-screen, #signup-screen {
  width: 100%;
  height: 100%;
  position: relative;
  background: #ef32d9; 
  background: -webkit-linear-gradient(
    to right,
    #89fffd,
    #ef32d9
  ); 
  background: linear-gradient(
    to right,
    #89fffd,
    #ef32d9
  );
}
#login-form, #signup-form {
  width: 350px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title {
  color: rgb(72, 197, 195);
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 40px;
}
.login-input, .signup-input {
  width: 250px;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid grey;
  transition: 0.4s;
}
.login-input:focus,
.signup-input:focus {
  border-bottom: 2px solid rgb(114, 242, 239);
}
.login-button,
.signup-button {
  width: 250px;
  padding: 10px;
  margin-block: 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background: #fc5c7d; 
  background: -webkit-linear-gradient(
    to right,
    #6a82fb,
    #fc5c7d
  );
  background: linear-gradient(
    to right,
    #6a82fb,
    #fc5c7d
  ); 
  color: #fff;
  border-radius: 4px;
  transition: 0.4s;
}
.login-button:active,
.signup-button:active {
  transform: scale(0.9);
}

.signup-link,
.signin-link {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  transition: .1s;
}

.signup-link:hover,
.signin-link:hover {
  border-bottom: 1px solid black;
}

/* loading animation */
.loading-container {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 200px;
  height: 200px;
  display: hidden !important;
}

#avatar {
  width: 100px;
  height: 100px;
  background: #f2f2f2;
  border-radius: 50%;
  outline: none;
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  margin-top: 10px;
}

.signup-icon,
.signin-icon {
  cursor: pointer;
}

.signup-icon img,
.signin-icon img {
  width: 30px;
  height: 30px;
}

.signup-icon:nth-child(2) img,
.signin-icon:nth-child(2) img {
  width: 40px;
  height: 40px;
}
